@using WebApplication2.Models
@model  XuatSachMaster
@{
    ViewBag.Title = "XuatSach";
    Layout = "~/Views/Shared/LayoutPhathanhsach.cshtml";
}
    <div class="container" style="padding-top:3%">
        <h3>Danh Sách Phiếu Đặt Sách Đang Chờ Xuất</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên Đại Lý</th>
                    <th>Ngày Đặt Sách</th>
                    <th>Tổng Tiền</th>
                    <th>Lập Phiếu Xuất</th>
                </tr>
            </thead>
            <tbody id="SetBookList">
                <tr id="LoadingStatus" style="color:red"></tr>
            </tbody>
        </table>
    </div>

    <script>
        $.get("/XuatSach/GetPhieuXuatList", null, DataBind);
    function formatDate(date)
    {
        var D = new Date(parseInt(date.substr(6)));
        var month = D.getMonth() + 1;
        if (month < 10) { month = "0" + month }
        var day = D.getDate();
        if(day < 10) {day = "0" + day}
        return day + "/" + month + "/" + D.getFullYear();
    }
    function DataBind(BookList) {
        var SetData = $("#SetBookList");
        for (var i = 0; i < BookList.length; i++) {
            var Data = "<tr class='row_" + BookList[i].xuatsachID + "'>" +
                "<td>" + BookList[i].DAILY_NAME + "</td>" +
                "<td>" + formatDate(BookList[i].xuatsach_ngayorder) + "</td>" +
                "<td>" + BookList[i].xuatsach_tongtien + "</td>" +
                "<td>" + "<a href='/XuatSach/LapPhieuXuat?orderID=" + BookList[i].xuatsachID + "' class='btn btn-warning'><span class='glyphicon glyphicon-edit'></span></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
        }
    }
    </script>
